@model LgurdaApp.Model.ControllerModels.LG_CRD_PASSWORD_CHANGE_MAP

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="shortcut icon" href="Images/shield_icon.ico" />
    <link href="~/Content/login.css" rel="stylesheet" />*@

@section featured
{
    <section class="featured">
        <div class="content-wrapper">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="container scrollMainDiv">
                    <div class="container scrollMainDiv">
                        <div class="row">
                            <h4 class="PageTitle">Reset Password</h4>
                            @*<a href="@Url.Action("Index")">
                                    <span class="glyphicon glyphicon-chevron-left LeftPadding"></span><span class="glyphicon glyphicon-chevron-left"></span>
                                </a>*@
                        </div>
                        @Html.ValidationSummary(true)


                        <div class="scrollBodyDiv LeftPadding">


                            <div class="row LeftPadding">
                                <div class="col-xs-4 form-group">
                                    @Html.TextBoxFor(model => model.USER_ID, new { placeholder = "User Id", @class = "form-control", id = "u_id" })
                                    @Html.ValidationMessageFor(model => model.USER_ID)
                                </div>
                                @*<div class="col-xs-4 form-group">
                                    @Html.TextBoxFor(model => model.USER_ACCOUNT_NO, new { placeholder = "Account No", @class = "form-control", id = "acc_no" })
                                </div>
                                <div class="col-xs-4 form-group">
                                    @Html.TextBoxFor(model => model.USER_NAME, new { placeholder = "User Name", @class = "form-control", id = "u_name" })
                                </div>*@
                            </div>
                            
                            <div class="row LeftPadding">
                                <div class="col-xs-2 form-group ">
                                    <input type="submit" id="btnSearch" value="Search" class="btn btn-primary btn-sm " />
                                   
                                </div>
                                <div class="col-xs-2 form-group ">
                                    
                                    <button type="button" class="btn btn-primary" id="btnNew" value="Clear" @((ViewBag.Session != null) ? "disabled" : "") onclick="location.href='@Url.Action("Create", "PasswordChange")'">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </button>

                                 </div>
                            </div>
                        </div>


                        <div id="msmqpartial" style="height:auto;width:auto;">
                            @{Html.RenderPartial("Partial1", Model); }
                        </div>

                        @if (Model != null)
                        {
                            <div class="row LeftPadding">
                                <div class="col-xs-2 form-group ">
                                    <input type="submit" id="btnReset" value="Reset" class="btn btn-primary btn-sm " />
                                </div>
                                <div class="col-xs-2 form-group ">
                                    <input type="button" id="btnNew" value="Clear" class="btn btn-primary btn-sm " @((ViewBag.Session != null) ? "disabled" : "") onclick="location.href='@Url.Action("ResetPassword", "PasswordChange")'" />
                                </div>
                            </div>
                        }

                        @if (ViewData["Error"] != null)
                        {
                            <p class="element" style="position: static; font: message-box;"> @ViewData["Error"].ToString()</p>
                        }
                        @if (ViewData["Success"] != null)
                        {
                            <p class="element" style="position:static;font:message-box;"> @ViewData["Success"].ToString()</p>
                        }
                    </div>
                </div>
            }
        </div>
    </section>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>

@*<script>
    $(document).ready(function () {
        $('#msmqpartial').hide();
    });
    $(function () {
        var userId = $('#u_id').val();

        $('#btnSearch').click(function (e) {
            e.preventDefault();
            var userId = $('#u_id').val();

            if (userId != "") {
                $.ajax({
                    url: '@Url.Action("FindUserDetail", "PasswordChange")',
                    datatype: "html",
                    data: { id: userId },
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        $('#msmqpartial').show();
                        $('#msmqpartial').html(data);
                    }
                });
                return false;
            }
        });
    });
</script>*@

<script>
    $(document).ready(function () {
        $('#msmqpartial').hide();

        var MyAppUrlSettings = { MyUsefulUrl: "" };
        var data;

    });
    
    $(function () {

        $('#btnSearch').click(function (e) {
            e.preventDefault();

            var userId = $('#u_id').val();
            //var userName = $('#u_name').val();
            //var accountNo = $('#acc_no').val();

            if (userId != "") {
                MyAppUrlSettings = {
                    MyUsefulUrl: '@Url.Action("FindUserDetailById", "PasswordChange")'
                };
                data = { 'id': userId  };
            }

            @*else if ( accountNo != "") {    
                MyAppUrlSettings = {
                    MyUsefulUrl: '@Url.Action("FindUserDetailByAccountNo", "PasswordChange")'
                };
                data = { 'account_number': accountNo };
            }

            else if (userName != "") {
                MyAppUrlSettings = {
                    MyUsefulUrl: '@Url.Action("FindUserDetailByName", "PasswordChange")'
                };
                data = { 'name': userName };
            }*@

            //if (userId != "" || userName != "" || accountNo != "") {
                if (userId != "") {
                $.ajax({
                    url: MyAppUrlSettings.MyUsefulUrl,
                    @*url: '@Url.Action("FindUserDetail", "UserStatus")',*@
                    datatype: "html",
                    data: data,
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        $('#msmqpartial').show();
                        $('#msmqpartial').html(data);
                    }
                });
                return false;
            }
        });
    });
</script>

<style>

    input[type=submit] {
        width: 100px;
        padding: 1px;
    }

    input[type=button] {
        width: 100px;
        padding: 1px;
    }


</style>