@model LgurdaApp.Model.ControllerModels.LG_CRD_PASSWORD_POLICY_MAP


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured
{
<section class="featured">
    <div class="content-wrapper">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="container scrollMainDiv">
                <div class="container scrollMainDiv">
                    <div class="row">
                        <h4 class="PageTitle">Password Policy Setup</h4>
                        <a href="@Url.Action("Index")">
                            <span class="glyphicon glyphicon-chevron-left LeftPadding"></span><span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
                    @Html.ValidationSummary(true)


                    <div class="scrollBodyDiv LeftPadding ">
                        <fieldset>
                            <div class="row LeftPadding">
                                <div class="col-xs-6 form-group">
                                    @Html.DropDownListFor(model => model.APPLICATION_ID, Model.LIST_APPLICATION_FOR_DD, "---------- Select Application ----------", new  { required = "required", @class = "form-control" } )
                                    @Html.ValidationMessageFor(model => model.APPLICATION_ID)
                                </div>
                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.MIN_CONS_USE_PASS, new { placeholder = "Min consequtive of using password", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MIN_CONS_USE_PASS)
                                </div>
                            </div>

                            <div class="row LeftPadding">

                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.PASS_MAX_LENGTH, new { placeholder = "Password Max Length", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PASS_MAX_LENGTH)
                                </div>

                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.PASS_MIN_LENGTH, new { placeholder = "Password Min Length", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PASS_MIN_LENGTH)
                                </div>
                            </div>

                            <div class="row LeftPadding">

                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.NUMERIC_CHAR_MIN, new { placeholder = "Non Alpha numeric char(min)", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NUMERIC_CHAR_MIN)
                                </div>

                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.PASS_HIS_PERIOD, new { placeholder = "Password History Period", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PASS_HIS_PERIOD)
                                </div>
                            </div>
                            <div class="row LeftPadding">

                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.PASS_REUSE_MAX, new { placeholder = "Password Reuse Max", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PASS_REUSE_MAX)
                                </div>

                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.FAILED_LOGIN_ATTEMT, new { placeholder = "Failed Login Attempt", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FAILED_LOGIN_ATTEMT)
                                </div>
                            </div>
                            <div class="row LeftPadding">

                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.PASS_EXP_PERIOD, new { placeholder = "Password Expiry Period(Days)", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PASS_EXP_PERIOD)
                                </div>

                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.PASS_EXP_ALERT, new { placeholder = "Password Expiry Alert(Days)", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PASS_EXP_ALERT)
                                </div>
                            </div>
                            <div class="row LeftPadding">

                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.MIN_CAPS_LETTER, new { placeholder = "Min Caps Letter", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MIN_CAPS_LETTER)
                                </div>

                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.MIN_SMALL_LETTER, new { placeholder = "Min Small Letter", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MIN_SMALL_LETTER)
                                </div>
                            </div>
                            <div class="row LeftPadding">

                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.MIN_NUMERIC_CHAR, new { placeholder = "Min Numeric char", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MIN_NUMERIC_CHAR)
                                </div>
                                <div class="col-xs-6 form-group">
                                    @Html.EditorFor(model => model.PASS_AUTO_CREATION_B, new { @class = "form-control" })
                                    @Html.Label("Password Auto Creation")
                                </div>
                            
                            </div>
                            <div class="row LeftPadding">
                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.PASS_REPEAT, new { placeholder = "Same Password Repeat After", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PASS_REPEAT)
                                </div>
                                <div class="col-xs-6 form-group ">
                                    @Html.EditorFor(model => model.PASS_CHANG_AT_FIRST_LOGIN_B, new { @class = "form-control" })
                                    @Html.Label("Force Password Change At First Login")
                                </div>
                               
                            </div>
                            <div class="row LeftPadding">               
                                <div class="col-xs-6 form-group ">
                                    @Html.TextBoxFor(model => model.PASS_CHANGED_EXPIRY, new { placeholder = "Password Changed After Expiry", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PASS_CHANGED_EXPIRY)
                                </div>
                                <div class="col-xs-6 form-group ">
                                    @Html.EditorFor(model => model.PASS_CHANGE_BY_ADMIN_B, new { @class = "form-control" })
                                    @Html.Label("Manual Password Change By Admin")
                                </div>
                            </div>
                            <div class="row LeftPadding">
                                <div class="col-xs-6 form-group ">
                                  
                                    <button type="submit" name="command" value="Save" class="btn btn-primary">
                                        <i class="glyphicon glyphicon-floppy-disk"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary" id="btnNew" value="Clear" @((ViewBag.Session != null) ? "disabled" : "") onclick="location.href='@Url.Action("Create", "PasswordPolicy")'">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </button>
                                 </div>                       
                            </div>
                        </fieldset>
                    </div>

                    @if (ViewData["Error"] != null)
                    {
                        <p class="MsgSection"> @ViewData["Error"].ToString()</p>
                    }
                    @if (ViewData["Success"] != null)
                    {
                        <p class="element "> @ViewData["Success"].ToString()</p>
                    }
                </div>
            </div>
        }
    </div>
</section>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*Test purpose*@




