<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="Image/sysmanIco.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">window.history.forward(); function noBack() { window.history.forward(); }</script>
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">

    <header>
        <div style="background: #4B3E5B;">
            <nav>
                <label for="drop" class="toggle">Menu </label>
                <input type="checkbox" id="drop" />
                @*<font style="font-size: 12px">Current User: @User.Identity.Name</font>*@
                @*<ul class="menu">*@
                @{
                    if (Session["MenuRearrange"] == null)
                    {
                        @Html.Action("GetMenu", "Menu")
                    }
                    else
                    {
                        @Html.Partial("~/Views/Menu/_Menu.cshtml", Session["MenuRearrange"])
                    }

    /*
    if (LguardaApp.RBAC.Action_Filters.RBAC_ExtendedMethods.IsSysAdmin())
    {
        var MenuPermissionList = LguardaApp.RBAC.Action_Filters.RBAC_ExtendedMethods.MenuPermission();
        var SubMenuPermissionList = LguardaApp.RBAC.Action_Filters.RBAC_ExtendedMethods.SubMenuPermission();
        bool SysAdmin = LguardaApp.RBAC.Action_Filters.RBAC_ExtendedMethods.SysAdmin();
        if (((MenuPermissionList.FirstOrDefault(x => x.MenuName.Contains("Access Control"))) != null) || SysAdmin)
        {
            <li>
                <label for="drop-1" class="toggle">Access Control <span class="glyphicon glyphicon-play-circle"></span></label>
                <a href="#">Access Control<span class="caret"></span></a>
                <input type="checkbox" id="drop-1" />
                <ul>
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("Application"))) != null) || SysAdmin)
                    {
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index", "Application")">Application</a></li>
                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("Service"))) != null) || SysAdmin)
                    {
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index", "Service")">Service</a></li>
                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("Module"))) != null) || SysAdmin)
                    {
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index", "Module")">Module</a></li>
                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("Function"))) != null) || SysAdmin)
                    {
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index", "Function")">Function</a></li>
                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("Role"))) != null) || SysAdmin)
                    {
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index", "Role")">Role</a></li>
                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("RoleDefine"))) != null) || SysAdmin)
                    {
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index", "RoleDefine")">Role Define</a></li>
                    }
                </ul>
            </li>
        }

        if (((MenuPermissionList.FirstOrDefault(x => x.MenuName.Contains("User Management"))) != null) || SysAdmin)
        {
            <li>
                <label for="drop-2" class="toggle">User Management <span class="glyphicon glyphicon-play-circle"></span></label>
                <a href="#">User Management <span class="caret"></span></a>
                <input type="checkbox" id="drop-3" />
                <ul>
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("UserProfileSetup"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "UserProfileSetup")">User Profile Setup</a></li>
                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("RoleAssign"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "RoleAssign")">Role Assign</a></li>
                    }
                    @*<li class="divider"></li>
                        <li><a href="@Url.Action("Index", "UserStatusChange")">User Status Change</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "UserMgmtPolicy")">User Management Policy</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "UserDeviceRegis")">User Device Registration</a></li>*@
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("UserStatus"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "UserStatus")">User Status</a></li>
                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("UserFileUpload"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "UserFileUpload")">User File Upload</a></li>
                    }

                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("SessionInitialize"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "SessionInitialize")">Session Initialize</a></li>
                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("BindADUser"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "BindADUser")">Bind AD User</a></li>
                    }
                </ul>
            </li>
        }
        if (((MenuPermissionList.FirstOrDefault(x => x.MenuName.Contains("Credential Management"))) != null) || SysAdmin)
        {
            <li>
                <label for="drop-3" class="toggle">Credential Management <span class="glyphicon glyphicon-play-circle"></span></label>
                <a href="#">Credential Management <span class="caret"></span></a>
                <input type="checkbox" id="drop-4" />
                <ul>
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("PasswordPolicy"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "PasswordPolicy")">Password Policy</a></li>
                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("PasswordChange"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        @*<li><a href="@Url.Action("ResetPassword", "PasswordChange")">Password Reset</a></li>
                            <li class="divider"></li>*@
                        <li><a href="@Url.Action("Index", "PasswordChange")">Password change</a></li>
                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("PasswordReset"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "PasswordReset")">Password Reset</a></li>
                    }
                </ul>
            </li>
        }
        if (((MenuPermissionList.FirstOrDefault(x => x.MenuName.Contains("Audit Trail"))) != null) || SysAdmin)
        {
            <li>
                <label for="drop-4" class="toggle">Audit Trail <span class="glyphicon glyphicon-play-circle"></span></label>
                <a href="#">Audit Trail <span class="caret"></span></a>
                <input type="checkbox" id="drop-5" />
                <ul>
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("AuditTrail"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "AuditTrail")">Audit Log</a></li>
                    }
                </ul>
            </li>
        }
        if (((MenuPermissionList.FirstOrDefault(x => x.MenuName.Contains("Configure Settings"))) != null) || SysAdmin)
        {
            <li>
                <label for="drop-5" class="toggle"> Configure Settings <span class="glyphicon glyphicon-play-circle"></span></label>
                <a href="#"> Configure Settings <span class="caret"></span></a>
                <input type="checkbox" id="drop-5" />
                <ul>
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("MailServer"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "MailServer")">Mail Server</a></li>
                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("OTP"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "OTP")">OTP</a></li>
                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("CalendarType"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "CalendarType")">Calendar Type</a></li>

                    }
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("HolidayType"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "HolidayType")">Holiday Type</a></li>
                    }
                </ul>
            </li>
        }
        if (((MenuPermissionList.FirstOrDefault(x => x.MenuName.Contains("Approval Authentication"))) != null) || SysAdmin)
        {
            <li>
                <label for="drop-6" class="toggle">
                    Approval Authentication <span class="glyphicon glyphicon-play-circle"></span>
                </label>
                <a href="#">Approval Authentication  <span class="caret"></span></a>
                <input type="checkbox" id="drop-5" />
                <ul>
                    @if (((SubMenuPermissionList.FirstOrDefault(x => x.SubMenuName.Contains("Authorization"))) != null) || SysAdmin)
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "Authorization")">Authorization</a></li>
                    }
                </ul>
            </li>
        }
    } */
    <ul>
        <li class="float-right">
            <label for="drop-7" class="toggle">Settings <span class="glyphicon glyphicon-play-circle"></span></label>
            <a href="#"><span class="glyphicon glyphicon-list right IndextIcon"></span></a>
            <input type="checkbox" id="drop-12" />
            <ul>
                @*<li class="divider"></li>
                <li>
                    <a href="#">Favorites<span class="glyphicon glyphicon-star"></span> </a>
                </li>
                <li class="divider"></li>

                <li>
                    <a href="@Url.Action("List", "Help")">Help<span class="glyphicon glyphicon-question-sign"></span> </a>
                </li>*@
                <li class="divider"></li>
                <li>
                    <a href="@Url.Action("Logout", "Login")">SignOut<span class="glyphicon glyphicon-off"></span> </a>
                </li>
            </ul>
        </li>
    </ul>

                }
                @*</ul>*@
            </nav>
        </div>
    </header>
    <div id="body">
        <div style="width:100%">
            @RenderBody()
            @RenderSection("featured", required: false)
        </div>
    </div>
    <footer>
        <div class="float-center">
            <p>
                <span class="glyphicon glyphicon-user">&nbsp;Admin&nbsp;</span>
                <span class="glyphicon glyphicon-qrcode ">&nbsp;@DateTime.Now.ToShortDateString() &nbsp;</span>
                <span class="glyphicon glyphicon-gift ">&nbsp;Malibagh Branch</span>
            </p>
        </div>
    </footer>
    <div class="footerCaption">
        <p>&copy; @DateTime.Now.Year - LEADS Corporation Limited</p>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

        $(document).keydown(function (e) {

            // Set self as the current item in focus
            var self = $(':focus'),
                // Set the form by the current item in focus
                form = self.parents('form:eq(0)'),
                focusable;

            // Array of Indexable/Tab-able items
            focusable = form.find('input,a,select,button,textarea,div[contenteditable=true]').filter(':visible');

            function enterKey() {
                if (e.which === 13 && !self.is('textarea,div[contenteditable=true]')) { // [Enter] key

                    // If not a regular hyperlink/button/textarea
                    if ($.inArray(self, focusable) && (!self.is('a,button'))) {
                        // Then prevent the default [Enter] key behaviour from submitting the form
                        e.preventDefault();
                    } // Otherwise follow the link/button as by design, or put new line in textarea

                    // Focus on the next item (either previous or next depending on shift)
                    focusable.eq(focusable.index(self) + (e.shiftKey ? -1 : 1)).focus();

                    return false;
                }
            }
            // We need to capture the [Shift] key and check the [Enter] key either way.
            if (e.shiftKey) { enterKey() } else { enterKey() }
        });
    </script>

    <script>
        var appname = (function (p) {
            var port = $(location).attr('port');
            if ($.isNumeric(port)) {
                var s = p.split("/").reverse();
                var length = s.length - 1;
                //s.splice(0, 2);
                s.splice(0, length);
                //alert("port");
                return s.reverse().join("/");
            }
            else {
                var pathname = $(location).attr('pathname');
                var s = p.split("/");
                var app_name1 = s[1];
                var app_name = "/" + app_name1;
                //alert("without port");
                return app_name;
            }
        })(location.pathname);

        //session end
        var sessionTimeoutWarning = @Session.Timeout -1;
        var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
        setTimeout('SessionEnd()', sTimeout);

        function SessionEnd() {
            var host = $(location).attr('host');
            var protocol = window.location.protocol;
            window.location = protocol + "//" + host + appname + "/Login/Logout"
            //window.location = "/Login/Logout";
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $(document).keydown(function (e) {
                return (e.which || e.keyCode) != 116;
            });
        });
    </script>

    @if ((@ViewContext.RouteData.Values["controller"].ToString() != "RoleDefine") &&
     (@ViewContext.RouteData.Values["controller"].ToString() != "RoleAssign") &&
     (@ViewContext.RouteData.Values["controller"].ToString() != "Authorization"))
    {
        @Scripts.Render("~/bundles/jquery")
    }

    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>