@model Model.EntityModel.LGModel.LG_AA_NFT_AUTH_LOG_MAP

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@section featured
    {*@
<section class="featured">
    <div class="content-wrapper">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="container scrollMainDiv" id="indexSearch">
                <div class="row">
                    <div class="col-xs-4 form-group ">
                        <a href="@Url.Action("Index", "Home")">&nbsp;&nbsp;<span class="glyphicon glyphicon-home"></span></a>
                    </div>
                    <div class="col-xs-4 form-group indexBackground">
                    </div>

                </div>
                <h4 class="PageTitle" style="margin-left:0px">Authorization</h4>

                <div class="scrollBodyDiv" style="margin-top: 35px">
                    <div class="row LeftPadding" style="">
                        <div class="col-xs-6 form-group " style="padding-left: 0px;">
                            @Html.DropDownListFor(model => model.FUNCTION_ID, Model.FUNCTION_LIST_FOR_DD, "-------- Select Function--------", new { @class = "TextRequiredField", @id = "ddl_Function", style = "width: 400px; max-width: 400px" })
                            @Html.ValidationMessageFor(model => model.FUNCTION_ID)
                        </div>
                    </div>

                    <div class="row LeftPadding">
                        <div class="col-xs-8 form-group" style="padding-left:0px;">
                            <div>
                                @Html.TextBoxFor(model => model.REASON_DECLINE, new { placeholder = "Remarks", @class = "form-control TextRequiredField", style = "width: 400px; max-width: 400px" })
                            </div>
                        </div>
                        <div class="col-xs-4 form-group" style="margin-top: 10px; padding-left:0px;">
                            <div>
                                @Html.ValidationMessageFor(model => model.REASON_DECLINE)
                            </div>
                        </div>
                    </div>
                    <div class="row LeftPadding">
                        <div class="col-xs-10 form-group" style="overflow:auto; padding-left: 0px;">
                            <div>
                                <table id="grid"></table>
                                <div id="pager"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="blankRow3">
                        <div class="col-xs-6 form-group ">
                        </div>
                    </div>

                    <div class="col-md-10">
                        <button type="submit" id="btnAuthorize" name="btnAuthorize" value="Authorize" class="btn btn-primary" onclick=" Authorize()">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>

                        <button type="button" id="btnHistory" name="btnHistory" value="History" class="btn btn-primary" onclick=" ShowHistory() ">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </button>
                        <button type="button" id="btnRefresh" name="btnRefresh" value="Refresh" class="btn btn-primary" onclick=" RefreshPage() ">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button type="button" id="btnDecline" name="btnDecline" value="Decline" class="btn btn-primary" onclick=" Decline() ">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                        <p id="msgLabel" class="element"></p>
                    </div>
                    <div class="row" id="blankRow3">
                        <div class="col-xs-6 form-group ">
                        </div>
                    </div>

                    <div class="row LeftPadding">
                        <div class="col-xs-10 form-group" id="gridWrapper" style="overflow:auto; padding-left: 0px;">
                            <table id="gridHistory"></table>
                            <div id="pagerHistory"></div>
                        </div>
                        <div class="col-xs-2 form-group ">
                        </div>
                    </div>
                    @*<div class="row LeftPadding">
                            <div class="col-xs-6 form-group" id="gridWrapper" style="overflow-x:auto; padding-left:0px">
                                <table id="gridHistory"></table>
                                <div id="pagerHistory"></div>
                            </div>
                            <div class="col-xs-6 form-group ">
                            </div>
                        </div>*@

                </div>
            </div>
        }
    </div>
    @if (ViewData["Error"] != null)
    {
        <p class="element errormsg"> @ViewData["Error"].ToString()</p>
    }
    @if (ViewData["Success"] != null)
    {
        <p class="element successmsg"> @ViewData["Success"].ToString()</p>
    }
    @if (ViewData["ERROR"] != null)
    {
        <p class="element errormsg"> @ViewData["ERROR"].ToString()</p>
    }
</section>
@*}*@


<style>
    .highlighted {
        background-color: Yellow;
    }
</style>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/Custom/authorization.js"></script>