@model List<LgurdaApp.Model.ControllerModels.LG_USER_ACTIVITY_LOG_MAP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="row">
        <a href="@Url.Action("Index")">
            <span class="glyphicon glyphicon-chevron-left LeftPadding"></span><span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>
</div>

<div class="">
    @if (Model != null)
    {
         <h4 style="color:Background;padding-left:45%;">Audit Log For User: @ViewBag.U_Id</h4>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>User ID</th>
                @*<th>Account No</th>
                <th>Branch ID</th>*@
                <th>IP Address</th>
                <th>Action</th>
                <th>Current Page</th>
                <th>Time</th>
                <th>Parameters</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.USER_ID</td>
                    @*<td>@item.ACCOUNT_NO</td>
                    <td>@item.BRANCH_ID</td>*@
                    <td>@item.IP_ADDRESS</td>
                    <td><div style="width: 300px;">@item.ACTION</div></td>
                    <td>@item.CURRENT_PAGE</td>
                    <td>@string.Format("{0:dd/MM/yyyy H:mm:ss}",Convert.ToDateTime(item.DATE_TIME.Value.AddHours(6)))</td>
                    <td><div style="width: 320px;">@item.PARAMETERS</div></td>
                </tr>
            }
        </table>
    }
    else
    {
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div>
            <p style="padding-left: 10px; font-size: larger; color: Background"> No List To Display </p>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    }
</div>


<style>
    table {
        /*table-layout: fixed;*/
        width: 100%;
        color: Background;
        font-size: medium;

    }

    td {
        /*width: 10%;*/
        border: 1px solid;
    }
</style>
